<fieldset>
    <!-- TITLE -->
    <div class='form-group'>
        <label for='shopping_list-title'>Title</label><br>
        <input class='form-control' id='shopping_list-title' type='text' name='title' value='{{ shopping_list.title }}'/>
    </div>

    <!-- DESCRIPTION -->
    <div class='form-group'>
        <label for='description'>Description</label><br>
        <input class='form-control' id='description' type='text' name='description' value='{{ shopping_list.description }}' />
    </div>

    <!-- IMAGE LINKS -->
    <div class='form-group'>
        <label for='shopping_list-images'>Images</label><br>
        <p class='text-muted'>Add images of your items</p>
        <div>Image URL: <input type="text" name="img_url"><br>{{ "\n".join(shopping_list.images) }}</div>
    </div><br>
</fieldset>

<!-- BUTTON -->
<p>
    <button class='btn btn-primary' type='submit'>Save Shopping List</button>
</p>