{% extends 'base.html' %}

{% block content %}
<a href='/'>Back to Home</a>
<p>
<a href='/shopping_lists'>See My Shopping Lists</a>
</p>
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <h1>{{ shopping_list.title }}</h1>
        <h2>{{ shopping_list.description }}</h2>
        {% for item in shopping_list.list_items %}
            <img src="/{{ item.images }}" width="350px" height="350px"/><br>
            {{ item.name }}
            {{ item.category }}
            {{ item.price }}
        {% endfor %}
        <p><form action='/shopping_lists/{{ shopping_list._id }}/edit'>
        <button class='btn btn-primary' type='submit'>Edit</button>
        </form></p>
        <!-- Delete button -->
        <p><form method='POST' action='/shopping_lists/{{ shopping_list._id }}/delete'>
            <input type='hidden' name='_method' value='DELETE'>
            <button class='btn btn-primary' type='submit'>Delete</button>
        </form></p>
    </div>
</div>
{% endblock %}